<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Demo</title>
  </head>

  <body>
    <div ng-app="app">
      {{ 1 + 1 }}

      <div ng-controller="miscCtrl">
        {{ message }}
        <br>
        <input ng-model="message">

        <h2>Todo:</h2>
        <ul>
          <li ng-repeat="task in tasks" ng-click="deleteTask(task)">{{ task }}</li>
        </ul>

        <input ng-model="newTask">
        <button ng-click="addTask(newTask)">Add Task</button>

        
        <table border="1" >
          <tr>
            <th>Job Title</th>
            <th>Name</th>
            <th>Salary</th>
          </tr>
          <tr ng-repeat="cityWorker in cityWorkers">>
            <td>  {{ cityWorker.job_titles }} </td>
            <td> {{ cityWorker.name }} </td>
            <td> {{ cityWorker.employee_annual_salary }} </td>
        </table>

        
      </div>
    </div>

    <script type="text/javascript" src="vendor/js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/misc_ctrl.js"></script>
  </body>
</html>